<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.mapper.GSysRichMapper">
  <resultMap id="BaseResultMap" type="com.example.order.entity.GSysRich">

    <id column="RICH_ID" jdbcType="BIGINT" property="richId" />
    <result column="ISVALID" jdbcType="CHAR" property="isvalid" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="RELEASE_STATUS" jdbcType="CHAR" property="releaseStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.order.entity.GSysRich">
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    RICH_ID, ISVALID, SORT, RELEASE_STATUS
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from g_sys_rich
    where RICH_ID = #{richId,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.example.order.entity.GSysRich">
    insert into g_sys_rich
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="richId != null">
        RICH_ID,
      </if>
      <if test="isvalid != null">
        ISVALID,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="releaseStatus != null">
        RELEASE_STATUS,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="richId != null">
        #{richId,jdbcType=BIGINT},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="releaseStatus != null">
        #{releaseStatus,jdbcType=CHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.order.entity.GSysRich">
    update g_sys_rich
    <set>
      <if test="isvalid != null">
        ISVALID = #{isvalid,jdbcType=CHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="releaseStatus != null">
        RELEASE_STATUS = #{releaseStatus,jdbcType=CHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where RICH_ID = #{richId,jdbcType=BIGINT}
  </update>
</mapper>